body{
    background-color: #B6EDFE;
}

.branch{
    display: flex;
    flex-direction: row;
}
.navigation{
    height: 90vh;
    background-color: #fff;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logoBeranda{
    height: 20vh;
    display: flex;
    align-items: center;
}
.navigationBeranda{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containNav{
    margin: 0.5em;
}

.pengaturanBeranda{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainBeranda{
    margin: 3em 5em;
    width: 80vw;
}
.berandaTerkumpul,
.berandaTerkumpulTwo{
    margin: 1em;
    display: flex;
    background-color: #fff;
    height: 20vh;
}
.berandaYangLain{
    display: flex;
    justify-content: space-around;
}
.pendapatan, .pengeluaran{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    background-color: #fff;
}
.tulisanBeranda,
.tulisanBerandaTwo{
    width: 70%;
}
.nominalTerkumpul,
.tulisanBerandaTwo{
    width: 30%;
}
.individualNabung{
    display: flex;
}
.deskripsiNabung > p{
    display: inline;
}
.deskripsiHead{
    display: flex;
}
progress{
    display: block;
}

.buttonsubmit{
    margin: 5em;
    display: flex;
    justify-content: center;
}
.submitBtn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: none;
    font-size: 0.95rem;
    color: #000;
    line-height: 1;
    width: 5vw;
    height: 10vh;
    border-radius: 2.5em;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin: 0;
}
.submitBtn>i {
    font-size: 2em;
}
.submitBtn:hover {
    background-color: #000;
    color: #fff;
}