body{
    background-color: #B6EDFE;
}

.branch{
    display: flex;
    flex-direction: row;
}
.navigation{
    height: 90vh;
    background-color: #fff;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logoTujuan{
    height: 20vh;
    display: flex;
    align-items: center;
}
.navigationTujuan{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containNav{
    margin: 0.5em;
}

.pengaturanTujuan{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTujuan{
    margin: 3em 5em;
    width: 80vw;
}
.tujuanTerkumpul{
    display: flex;
    background-color: #fff;
    height: 20vh;
}
.tulisanTujuan{
    width: 70%;
}
.nominalTerkumpul{
    width: 30%;
}
.individualNabung{
    display: flex;
}
.deskripsiNabung > p{
    display: inline;
}
.deskripsiHead{
    display: flex;
}
progress{
    display: block;
}